@charset "UTF-8";
/*delay keyframes menu*/
/*map*/
/*placeholders*/
.check__animation, .card__menu, .cardgost, .step, nav .nav__card {
  display: flex;
  align-items: center;
}

.menu__choice, nav {
  display: grid;
  height: auto;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  align-items: flex-end;
  justify-items: center;
}

.restaucontainer__title, header .menu--header {
  display: flex;
  align-items: baseline;
}

/*Condition */
/*présentation de la page d'accueil */
.presentation {
  padding-bottom: 20px;
  text-align: center;
  align-content: center;
  background-color: rgba(242, 242, 242, 0.7803921569);
}

.localisation {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  background-color: hsl(207deg, 6%, 90%);
  box-shadow: 4px 4px 5px hsl(207deg, 6%, 69%) inset;
}
.localisation .localisation__element {
  grid-column: 3/4;
  grid-row: 1;
  display: flex;
  background-color: hsl(207deg, 6%, 90%);
}
.localisation input {
  padding-left: 10px;
  border: none;
  background-color: hsl(207deg, 6%, 90%);
}
.localisation i {
  padding-left: 50px;
}

@media (min-width: 1024px) {
  nav {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  nav h2 {
    grid-column: 1/4;
    grid-row: 1;
  }
}
nav .nav__card {
  width: 100%;
  border-radius: 15px 15px 15px 15px;
}
nav .nav__card i {
  padding-left: 20px;
  padding-right: 20px;
}
nav .nav__card h2 {
  font-size: medium;
  padding-right: 20px;
}

.card__decoration--accueil {
  background-color: #f2f2f2;
  box-shadow: 4px 4px 5px #abb0b4;
  transition: box-shadow 250ms, scale 50ms 200ms;
}

.step {
  justify-content: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-bottom: 5px;
  margin-left: -20px;
  transition: margin-left 500ms;
  position: absolute;
  z-index: 3;
}
.step p {
  color: white;
}

.main--accueil {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 250px 250px 250px 250px 20px;
  grid-row-gap: 50px;
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 25px;
  height: auto;
  z-index: 1;
}
@media (min-width: 768px) {
  .main--accueil {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 320px 320px 20px;
  }
}
.main--accueil h3 {
  padding-left: 30px;
}
@media (min-width: 768px) {
  .main--accueil h3 {
    padding-left: 100px;
  }
}

.img {
  width: 100%;
  height: 205px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  position: relative;
  z-index: 3;
}

.article {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 360px;
  margin: auto;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 4px 4px 5px #abb0b4;
}
.article:hover {
  cursor: pointer;
  box-shadow: 10px 10px 20px #343638;
}
@media (min-width: 992px) {
  .article {
    width: 460px;
    height: 300px;
  }
  .article p {
    font-size: large;
  }
}
.article h2 {
  font-size: medium;
}
@media (min-width: 992px) {
  .article h2 {
    font-size: large;
  }
}
.article__palette {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .article__palette {
    grid-column: 1;
    grid-row: 2;
  }
}
.article__note {
  grid-column: 1;
  grid-row: 3;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .article__note {
    grid-column: 2;
    grid-row: 2;
  }
}
.article__française {
  grid-column: 1;
  grid-row: 4;
  position: relative;
}
@media (min-width: 768px) {
  .article__française {
    grid-column: 1;
    grid-row: 3;
  }
}
.article__delice {
  grid-column: 1;
  grid-row: 5;
  position: relative;
}
@media (min-width: 768px) {
  .article__delice {
    grid-column: 2;
    grid-row: 3;
  }
}

.article__restaucontainer {
  border-radius: 20px 20px 20px 20px;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .article__restaucontainer {
    grid-column: 2;
  }
}
.article__restaucontainer--text {
  margin-left: 0;
}

/*boutons*/
.btnexplorer {
  background-image: linear-gradient(to right, #FF79DA, #9356DC);
  width: 180px;
  height: 40px;
  border-radius: 20px;
  color: white;
  border: none;
  box-shadow: 4px 4px 5px #abb0b4;
  position: relative;
  z-index: 1;
}

.btn {
  grid-row: 4;
  padding: 50px;
}
.btn__menu {
  align-items: center;
  align-content: stretch;
  display: flex;
  padding: 20px;
}
@media (min-width: 768px) {
  .btn {
    grid-column: 2;
  }
}

/*pastille nuveauté*/
.new {
  color: green;
  width: 90px;
  height: 40px;
  background-color: #99E2D0;
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .new {
    margin-left: 225px;
  }
}
@media (min-width: 992px) {
  .new {
    margin-left: 330px;
  }
}
.new h2 {
  padding-left: 10px;
  top: 20px;
}

/*bouton coeur accueil*/
.heartcontainer--accueil {
  width: 10px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding-right: 45px;
  padding-top: 20px;
}
.heartcontainer--accueil i {
  opacity: 1;
  position: relative;
  z-index: 1;
  font-size: 30px;
}

/*Bouton coeur page menu*/
.heartcontainer--menu {
  width: 10px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.heartcontainer--menu i {
  opacity: 1;
  position: relative;
  z-index: 1;
  font-size: 30px;
  right: 50px;
}

/*principaux éléments*/
* {
  box-sizing: border-box;
}

h1 {
  font-size: large;
}

body {
  touch-action: pinch-zoom;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr;
  margin: auto;
  margin: auto;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: small;
}
body a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*Entête commune et spécifique accueil/menu*/
header {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  /*****header des menus****/
}
header .menu--header {
  grid-column: 2/5;
  justify-content: center;
  height: 100px;
}
header p {
  grid-column: 3/4;
  font-family: "shrikhand", cursive;
  font-size: x-large;
}

/****Footer second manner**/
footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}

h3 {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px 0 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

/*Boutons*/
.btnexplorer {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms, scale 50ms 150ms;
}
.btnexplorer:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 10px 10px 20px #343638;
}

/*animation pour navigation cards*/
.card__decoration--accueil {
  transform: scale(1);
  transition: scale 50ms 150ms;
}
.card__decoration--accueil:hover {
  background: #ffe9f9;
  cursor: pointer;
  box-shadow: 10px 10px 20px #343638;
  transform: scale(1.1);
}
.card__decoration--accueil:hover:hover > i {
  color: #9356DC;
}

/*Disparition icone coeur page accueil*/
.heartcontainer i {
  opacity: 1;
  transition: opacity 50ms;
}
.heartcontainer i:active {
  opacity: 0;
}

/*Apparition coeur coloré page accueil*/
.heart__accueil {
  position: absolute;
  opacity: 0;
  z-index: 3;
  top: 229px;
  right: 45px;
  transition: opacity 1000ms;
}
.heart__accueil:active {
  opacity: 1;
}
.heart__accueil::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 15px 15px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart__accueil::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px 20px 0 0;
  left: -20px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/*Disparition icone coeur page menu*/
.bigheartcontainer {
  width: 10px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}
.bigheartcontainer i {
  opacity: 1;
  transition: opacity 50ms;
}
.bigheartcontainer i:active {
  opacity: 0;
}

/*Apparition coeur coloré page menu*/
.heart__menu {
  position: absolute;
  opacity: 0;
  z-index: 3;
  top: 17px;
  transition: opacity 1000ms;
  right: 59px;
}
.heart__menu:active {
  cursor: pointer;
  opacity: 1;
}
.heart__menu::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 15px 15px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart__menu::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px 20px 0 0;
  left: -20px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/*Animation bouton menu*/
.card__menu:hover > .menu__choice--text {
  width: 180px;
}
.card__menu:hover > .menu__choice--price {
  transform: translateX(-55px);
}
.card__menu:hover > .check {
  transform: scaleX(1);
}
.card__menu:hover > .check > .check__animation {
  transform: rotate(0deg);
}

/*Keyframes*/
/*Apparition pagesmenu*/
@keyframes menu {
  0% {
    transform: translateY(35px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.first {
  animation: menu 1000ms 50ms backwards;
}

.second {
  animation: menu 1000ms 500ms backwards;
}

.third {
  animation: menu 1000ms 1000ms backwards;
}

/*section propre aux menus*/
section {
  background-color: #f2f2f2;
  justify-items: center;
  display: grid;
  grid-template-rows: 350px 350px 350px 350px 350px;
  height: auto;
  margin-bottom: -5px;
  max-width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  section {
    grid-template-columns: 200px 350px 200px;
    grid-template-rows: 1fr;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.restaucontainer {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .restaucontainer {
    background-color: black;
    height: 700px;
  }
}

.restaucontainer__title {
  background-color: #f2f2f2;
  justify-content: space-between;
  height: 80px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: absolute;
  width: 100%;
  padding-left: 35px;
  padding-right: 15px;
}
.restaucontainer__title h1 {
  font-family: "shrikhand", cursive;
  font-size: x-large;
}

.img__menu {
  width: 100%;
  background-size: cover;
  height: 300px;
  object-fit: cover;
  position: relative;
  margin-bottom: -3px;
}
@media (min-width: 768px) {
  .img__menu {
    height: 600px;
    max-width: 1000px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
}

.cardgost {
  width: 40px;
  height: 20px;
  margin-right: 250px;
  border-bottom: 3px solid #99E2D0;
}

.menu__choice {
  /* display: grid;
  height: auto;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  align-items: flex-end;
  justify-items: center;*/
  grid-auto-flow: row;
  grid-template-rows: repeat(4, 1fr);
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice {
    grid-column: 2;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .menu__choice {
    grid-row: 3;
    width: auto;
  }
}
.menu__choice--price {
  height: 100%;
  width: 50px;
  top: 0;
  display: flex;
  border-radius: 0px 30px 30px 0px;
  background-color: white;
  align-items: flex-end;
  margin-left: 10px;
  transition: transform 500ms ease-in-out;
}
.menu__choice--text {
  margin: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 232px;
  transition: transform 500ms ease-in-out;
}
.menu__choice--text h2 {
  font-size: medium;
  width: auto;
}
.menu__choice .textonly {
  padding-right: 2px;
}
.menu__choice .textonly__title {
  width: auto;
  position: relative;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__choice .textonly__description {
  position: relative;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__choice .textonly__description p {
  font-size: small;
  width: auto;
}

.card__menu {
  border-radius: 15px 15px 15px 15px;
  justify-content: space-between;
  width: 320px;
  height: 66px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.card__decoration--menu {
  background-color: white;
  box-shadow: 4px 4px 5px #abb0b4;
  transition: box-shadow 250ms, scale 50ms 200ms;
}
.card__decoration--menu:hover {
  cursor: pointer;
  box-shadow: 10px 10px 20px #343638;
}

.check {
  display: flex;
  background-color: #99E2D0;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  float: right;
  height: 100%;
  left: 250px;
  width: 70px;
  transform: scaleX(0);
  transition: transform 400ms;
  transform-origin: right;
}

.check__animation {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  z-index: 3;
  justify-content: center;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  overflow: hidden;
}
.check__animation i {
  color: #99E2D0;
  z-index: 4;
}

/*# sourceMappingURL=main.css.map */
