/*les couleurs de base*/
/*$primary-color: hsl(267, 66%, 60%) ;
$secondary-color: hsl(317, 100%, 74%) ;
$tertiary-color: hsl(165, 56%, 74%);*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;