$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$color-footer:hsl(204, 5%, 21%);
$color-text:#000000;
$color-nav:#F2F2F2;
/*delay keyframes menu*/
$hide-dur:3500ms;
$menu-dur:1000ms;
$menu-first-delay:50ms;
$menu-second-delay:500ms;
$menu-third-delay:1000ms;