/*principaux éléments*/
* {
    box-sizing: border-box;
}
h1 {
    font-size: map-get($font-size, title);
}

body {
    touch-action: pinch-zoom;
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    margin: auto;
    margin: auto;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: map-get($font-size, body);
    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}
/*Entête commune et spécifique accueil/menu*/
header {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    /*****header des menus****/
    .menu--header {
      grid-column: 2/5;
      @extend %flexbaseline;
      justify-content: center;
      height: 100px;
    }
    p {
        grid-column: 3/4;
        @include shrikhand;
        font-size: map-get($font-size, logo);
    }
}

/****Footer second manner**/
footer {
    background-color: #353535;
    padding: 25px;
    color: white;
}
h3 {
    font-family: "Shrikhand", "sans-serif";
    padding: 5px 0 20px 0;
    font-size: 1.2rem;
    font-weight: 500;
}
ul {
    //permet de supprimer les "."
    list-style-type: none;
    li {
        padding: 5px 0 5px 0;
        a {
            color: white;
        }
    }
}

.fa-utensils {
    margin-right: 12px;
}
.fa-hands-helping {
    margin-right: 5px;
}
